body{
	background: black;
}

video {
	width: 100%;
}

.titol {
	background: black;
	color: white;
	font-family: Arial;
	font-size: 200%;
	text-align: center;
	width:100%;
}

.players {
	margin: 10px;
	/*width: 33% !important;*/
	
}

.container {
	max-width: 100%;
}
